@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --color-primary: #219ebc;
  --color-danger: #e63946;
  --color-success: #2a9d8f;
  --color-warning: #fb8500;
  --color-dark: #023047;
  --color-light: #dde4e7;
  --color-white: #fff;
  --color-black: #000;
  --color-info-light: #e5e5e5;
  --color-info-dark: #8d99ae;
  --color-primary-varient: #84a98c;
  --color-dark-varient: #264653;
  --color-background: #f8f9fa;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --card-padding-2: 3rem;
  --padding-1: 1.2rem;

  --box-shadow-1: 0 2rem 3rem var(--color-light);

  --default-font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 14px;
  font-family: var(--default-font-family);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary-varient);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-family: var(--default-font-family);
  color: var(--color-dark);
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

h6 {
  font-size: 0.8rem;
  font-weight: 300;
}

small {
  font-size: 0.6rem;
  font-weight: 300;
}

.profile-image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark) !important;
}

.primary {
  color: var(--color-primary) !important;
}

.primary-varient {
  color: var(--color-primary-varient) !important;
}

.danger {
  color: var(--color-danger) !important;
}

.success {
  color: var(--color-success) !important;
}

.warning {
  color: var(--color-warning) !important;
}

p {
  font-size: 1rem;
  color: var(--color-dark-varient);
}

b {
  color: var(--color-dark);
}

.container {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 17rem auto 23rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  z-index: 100;
  padding-left: 1rem;
}

.sidebar-top {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 2rem;
}

.sidebar-top .close-btn {
  display: none;
  align-items: center;
  cursor: pointer;
}

.sidebar-top .logo-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.sidebar-top .logo-container i {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sidebar-top .logo-container span {
  font-weight: 500;
  color: var(--color-primary);
  cursor: pointer;
}

.sidebar-top .logo-container span:hover {
  color: var(--color-primary-varient);
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sidebar .sidebar-nav .nav-item a {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 3.7rem;
  cursor: pointer;
  color: var(--color-info-dark);
  margin-left: 2rem;
  transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-nav .nav-item a.active {
  position: relative;
  padding: 0 0.5rem;
  color: var(--color-primary);
  margin-left: 0rem;
  background-color: var(--color-light);
}

.sidebar .sidebar-nav .nav-item a.active::before {
  content: "";
  height: 100%;
  width: 0.5rem;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: -0.5rem;
}

.sidebar .sidebar-nav .nav-item a.active i {
  margin-left: calc(2rem - 6px);
}

.sidebar .sidebar-nav .nav-item a:hover span {
  color: var(--color-primary);
  margin-left: 0.5rem;
}

.sidebar .sidebar-nav .nav-item a span.nav-badge {
  background-color: var(--color-danger);
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-1);
  color: var(--color-white);
  margin-left: 0.5rem;
}

.sidebar .sidebar-nav .nav-item:last-child {
  position: absolute;
  bottom: 4rem;
}

/* main section */

main {
  margin: 1.4rem;
}

main .date {
  display: inline-block;
  background-color: var(--color-light);
  border-radius: var(--border-radius-1);
  padding: 0.5rem 1.6rem;
  margin: 1rem 0;
}

main .date input[type="date"] {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-dark);
  font-family: var(--default-font-family);
  font-size: 1rem;
  font-weight: 300;
}

/* insights section */
.insights-section .insights-top {
  margin: 2rem 0;
}
.insights-section .insights-bottom .insight-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  transition: all 0.3s ease-in-out;
}

.insights-section .insights-bottom .insight-card:hover {
  box-shadow: none;
}

.insights-section .insights-bottom .insight-card .insight-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.insights-section .insights-bottom .insight-card .insight-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.insights-section .insights-bottom .insight-card.sales .insight-icon {
  background-color: var(--color-primary);
}
.insights-section .insights-bottom .insight-card.expenses .insight-icon {
  background-color: var(--color-warning);
}
.insights-section .insights-bottom .insight-card.income .insight-icon {
  background-color: var(--color-success);
}

.insights-section .insights-bottom .insight-card .insight-icon i {
  font-size: 2rem;
  color: var(--color-white);
}

.insights-section .insights-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.insights-section .insights-bottom .insight-card .progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.insights-section .insights-bottom .insight-card .progress svg {
  width: 7rem;
  height: 7rem;
}

.insights-section .insights-bottom .insight-card .progress svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 251.327;
  stroke-dashoffset: 92;
}
.insights-section .insights-bottom .insight-card.sales .progress svg circle {
  stroke-dasharray: 251.327; /*  for a circle with a radius of 40 and a center point at (50, 50), the circumference would be 2 * pi * 40 = 251.327. */
  stroke-dashoffset: 62.831; /*To create a progress bar representing 75%, you would set the stroke-dasharray to the circumference of the circle (251.327) and the stroke-dashoffset to 251.327 * (1 - 75 / 100) = 62.831.*/
}
.insights-section .insights-bottom .insight-card.expenses .progress svg circle {
  stroke-dasharray: 251.327;
  stroke-dashoffset: 188.495;
}
.insights-section .insights-bottom .insight-card.income .progress svg circle {
  stroke-dasharray: 251.327;
  stroke-dashoffset: 87.93;
}

.insights-section .insights-bottom .insight-card .progress .precentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
}

.insights-section .insights-bottom .insight-card .progress .precentage span {
  font-size: 1rem;
  font-weight: 600;
}

/* recent orders section */

.recent-orders-section .recent-orders-top {
  margin: 2rem 0;
}

.recent-orders-section .recent-orders-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.recent-orders-section .recent-orders-bottom .recent-order-card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--card-border-radius);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.recent-orders-section .recent-orders-bottom .recent-order-card:hover {
  box-shadow: none;
}

.recent-orders-section .recent-orders-bottom table {
  width: 100%;
  text-align: center;
}
.recent-orders-section .recent-orders-bottom table thead {
  padding: 5rem;
}

.recent-orders-section .recent-orders-bottom table tbody td {
  color: var(--color-dark-varient);
  height: 3rem;
  border-bottom: 1px solid var(--color-light);
}
.recent-orders-section .recent-orders-bottom table tbody td:last-child {
  border-bottom: none;
}

.recent-orders-section .recent-orders-bottom table tbody tr:last-child td {
  border: none;
}

/* right section */
.right-section {
  margin-top: 1.4rem;
}

.right-section .right-top {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 3rem;
  margin-bottom: 1rem;
}

.right-section .right-top .right-top-item.collapse-btn {
  display: none;
}

.right-section .right-top .right-top-item.theme-toggeler {
  display: flex;
  background-color: var(--color-light);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-1);
}

.right-section .right-top .right-top-item.theme-toggeler .toggeler-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-1);
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
}

.right-section .right-top .right-top-item.theme-toggeler .toggeler-item i {
  font-size: 1.2rem;
}

.right-section .right-top .right-top-item.theme-toggeler .toggeler-item.active {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.right-section .right-top .right-top-item.profile-section {
  display: flex;
  gap: 1rem;
}

.right-section .right-middle {
  margin: 2rem 0rem;
}

.right-section .right-middle .right-middle-item.recent-updates-section .title {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.right-section
  .right-middle
  .right-middle-item.recent-updates-section
  .recent-updates-card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  transition: all 0.3s ease-in-out;
}

.right-section
  .right-middle
  .right-middle-item.recent-updates-section
  .recent-updates-card:hover {
  box-shadow: none;
}

.right-section
  .right-middle
  .right-middle-item.recent-updates-section
  .recent-updates-card
  .recent-updates-item {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right-section .right-bottom .right-bottom-item.sales-analytics-section {
  margin: 2rem 0;
}

.right-section .right-bottom .right-bottom-item.sales-analytics-section .title {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card,
.right-section .right-bottom .right-bottom-item.add-product .add-product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-3);
  padding: 1rem var(--card-padding);
  margin-bottom: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card:hover {
  box-shadow: none;
}

.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card
  .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  text-transform: uppercase;
}

.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card
  .left
  i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 0.6rem;
}

.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card.online-sales
  .left
  i {
  background-color: var(--color-success);
}
.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card.offline-sales
  .left
  i {
  background-color: var(--color-danger);
}
.right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card.new-customers
  .left
  i {
  background-color: var(--color-warning);
}

.right-section .right-bottom .right-bottom-item.add-product .add-product-card {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary) !important;
  transition: all 0.3s ease-in-out;
}

.right-section
  .right-bottom
  .right-bottom-item.add-product
  .add-product-card:hover {
  box-shadow: none;
  border: 2px dashed var(--color-primary-varient);
  color: var(--color-primary-varient) !important;
}

.right-section
  .right-bottom
  .right-bottom-item.add-product
  .add-product-card
  p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
}

.right-section
  .right-bottom
  .right-bottom-item.add-product
  .add-product-card:hover
  p {
  color: var(--color-primary-varient);
}

/* media queries for smaller screens */

@media only screen and (max-width: 1200px) {
  .container {
    width: 98vw;
    gap: 1rem;
    grid-template-columns: 7rem auto 28rem;
  }

  .sidebar {
    padding-left: 0rem;
    margin: 0;
  }

  .sidebar-top .logo {
    display: none;
  }

  .sidebar .sidebar-nav .nav-item a span:nth-child(2) {
    display: none;
  }

  .sidebar .sidebar-nav .nav-item a {
    margin-left: 1rem;
  }

  .sidebar .sidebar-nav .nav-item a.active::before {
    top: 0;
    left: 0rem;
  }

  .sidebar .sidebar-nav .nav-item a.active:hover i {
    margin-left: calc(2rem - 6px);
  }

  .sidebar .sidebar-nav .nav-item a:hover i {
    color: var(--color-primary);
    margin-left: 0.2rem;
  }

  .sidebar .sidebar-nav .nav-item a span.nav-badge {
    padding: 0.2rem 0.5rem;
    margin-left: 0.2rem;
  }

  .right-section
    .right-bottom
    .right-bottom-item.sales-analytics-section
    .sales-analytics-card,
  .right-section
    .right-bottom
    .right-bottom-item.add-product
    .add-product-card {
    padding: 1rem;
  }

  .recent-orders-section .recent-orders-bottom {
    position: absolute;
    left: 0;
    width: 90%;
    margin: 1rem 0 0 9rem;
  }

  .recent-orders-section .recent-orders-bottom .recent-order-card {
    width: 84vw;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    gap: 0.5rem;
    grid-template-columns: 7rem auto 25rem;
  }

  .recent-orders-section .recent-orders-bottom {
    position: absolute;
    left: 0;
    width: 90%;
    margin: 1rem 0 0 8rem;
  }

  .recent-orders-section .recent-orders-bottom .recent-order-card {
    width: 83vw;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 96vw;
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    left: 0;
    width: 18rem;
    z-index: 3;
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
  }

  .sidebar-top .close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

    .sidebar-top .logo{
        display: block;
    }

    .sidebar .sidebar-nav .nav-item a span:nth-child(2) {
        display: inline;
      }

      .sidebar .sidebar-nav .nav-item:last-child {
        position: absolute;
        bottom: 5rem;
      }

      main{
        margin: 0;
        margin-top: 8rem;
      }

      .insights-section .insights-bottom .insight-card {
        
        gap: 0rem;
        
      }

  .recent-orders-section .recent-orders-bottom {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0rem;
  }

  .recent-orders-section .recent-orders-bottom .recent-order-card {
    width: 100%;
  }


  .recent-orders-section .recent-orders-bottom .recent-order-card td:nth-child(1),
  .recent-orders-section .recent-orders-bottom .recent-order-card th:nth-child(1) {
  display: none;
}
  .recent-orders-section .recent-orders-bottom .recent-order-card td:nth-child(4),
  .recent-orders-section .recent-orders-bottom .recent-order-card th:nth-child(4) {
  display: none;
}



    .right-section {
        margin: 2rem 0rem;
    }

    .right-section .right-top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow-1);
        padding: 1rem;
        align-items: center;
        gap: 5rem;
    }

    .right-section .right-top .right-top-item.profile-section .profile-info{
        display: none;
    }

    .right-section .right-top .right-top-item.collapse-btn {
        display: inline;
        background-color: transparent;
        position: absolute;
        left: 1rem;
      }
    .right-section .right-top .right-top-item.collapse-btn button{
        background-color: transparent;
      }

      .right-section
  .right-bottom
  .right-bottom-item.sales-analytics-section
  .sales-analytics-card,
.right-section .right-bottom .right-bottom-item.add-product .add-product-card {
  padding: 1rem var(--card-padding-2);
}
}
